@{
    ViewData["Title"] = "Моя страница";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Моя страница</div>
                <div class="card-body">
                    @if (User.IsInRole("Admin"))
                    {
                        <div><a asp-controller="Articles" asp-action="Create" class="link">Создать статью</a></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>